/* App.css */
body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the height of the entire app to 100% of the viewport height */
}

.header {
  flex: 0; /* Make the header non-flexible */
}

.body {
  flex: 1; /* Make the body flexible to take up the remaining space */
  overflow-y: auto; /* Enable vertical scrolling */
  padding-top: 70px; /* Make the content start below header */
}