/* Navbar.css */
.logo {
  width: 90px; /* Adjust the width as needed */
  position: absolute;
  top: 5px;
  left: 5px;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4EA9F3;
  padding: 12px;
  color: 	#FCDB7C;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 40px;
  text-align: left;
}

.nav-item {
  color: 	#FCDB7C;
  font-weight: bold;
  font-size: 17px;
}

.nav-item:hover {
  color: #fff;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #555;
}


/* Footer.css */
footer {
  background-color: #4EA9F3;
  color: #FCDB7C;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: auto;
}